/*loader*/
#loader{
 
  margin-left: 30%;
  width:-10px;height:-10px;
}

#content{
  display: none;
}

#content #data{
  display: block;
}
/* Css Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

}

body {
  background-color: black;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;

}

.logo {
  background-color: black;
  padding: 10px;
  flex: 20%;




}

.logo a {
  text-decoration: none;
  margin-left: 20px;
  color: white;
}
.bar{
  margin-left: 85%;
  display: none;
}

.list {
  background-color: black;
  padding: 15px;
  flex: 70%;
  float: left;
  color: white;
  padding-left: 450px;


}

.nav-link:hover {
  background-color: transparent;
  color: rgb(255, 129, 57);

}

.list a {
  text-decoration: none;
  color: white;
}

.list ul {
  overflow: hidden;
}

.list ul li {
  list-style: none;
  float: left;
  padding-left: 30px;
}


.btn {
  border: 1px solid rgb(36, 193, 255);
  color: white;
  background-color: rgb(36, 193, 255);
  border-radius: 15px;
  width: 130px;
  height: 35px;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: transparent;
  color: rgb(255, 129, 57);
  border: 1px solid rgb(255, 129, 57);
}

.nav-link::after {
  content: '';
  display: block;


  background-color: rgb(255, 129, 57);
  width: 0;
  height: 3px;
  transition: width 0.2s;
}

.nav-link:hover::after {
  width: 100%;
}

.btn-navbar:hover {
  background-color: transparent;
  color: rgb(255, 129, 57);
  border: 1px solid rgb(255, 129, 57);
}


/* home section start*/




.home-section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: none;
  margin-top: 150px;

}

.home-section img {
  margin-right: 90px;
  width: 500px;
  margin-left: 400px
}

.heading {
  margin-right: 500px;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 600px;
  line-height: 64px;

}

.home-span {
  color: rgb(255, 129, 57);
}

.para-home {
  font-size: 17px;
  font-weight: 500;
  color: rgba(255, 255, 255, 255);
  max-width: 400px;
  line-height: 24px;
  margin: 14px;

}

.home-link {

  text-decoration: none;
  color: white;
  border: 1px solid rgb(36, 193, 255);
  background-color: rgb(36, 193, 255);
  margin: 20px 0px;
  margin-right: 7px;
  border-radius: 30px;
  padding: 10px 37px;
  font-size: 14px;
  font-weight: 600;
}

.home-link:hover {
  background-color: transparent;
  color: rgb(255, 129, 57);
  border: 1px solid rgb(255, 129, 57);
}

.btn-2 {
  border: 1px solid rgb(36, 193, 255);
  color: rgb(36, 193, 255);
  background-color: transparent;
}

/* About Us part*/
.about-us-container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: row;
margin-top: 250px;
}


.about-us {
  width: 60%;
  height: 300px;
  background-color: rgb(54, 54, 54);
  margin-top: -143px;
  margin-left: 350px;
  text-align: 80px;
  padding: 20px;
  position: relative;
  flex: 20%;

}

.im {
  flex: 50%;

}

.img {
  margin-top: -280px;
  margin-left: 728px;
  height: 80%;
  width: 50%;
}

.about-us:hover {
  color: rgb(255, 129, 57);
  border: 1px solid rgb(255, 129, 57);

}

.para-about {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0, 695);
  line-height: 21px;
  margin: 25px 0px;
}

.link-about {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid rgba(255, 129, 57, 0.5);
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  padding: 8px 22px;
  background-color: rgb(36, 193, 255);
  border-radius: 20px;

}

.link-about:hover {
  background-color: transparent;
  color: rgb(255, 129, 57);
  border: 1px solid rgb(255, 129, 57);
}

.heading-about {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(255, 129, 57);
  margin: 10px;
  margin-bottom: 34px;

}

.heading-about::after {
  content: ' ';
  position: absolute;
  left: 28px;
  bottom: -8px;
  background-color: rgb(255, 129, 57);
  width: 56px;
  height: 2px;
  margin-bottom: 239px;
}

.fa-arrow-right {
  color: white;

}

.fa-arrow-right:hover {
  color: rgb(255, 129, 57);

}

/*product-section*/
.icon1 {
  margin-top: 150px;
  margin-right: 50px;
  color: rgb(185, 180, 180);
}

.icon2 {
  margin-top: 150px;
  color: rgb(185, 180, 180);
}

.heading-product {
  font-size: 34px;
  color: rgb(255, 129, 57);
  margin-bottom: 120px;
  position: relative;
}


.heading-product::after {
  content: ' ';
  position: absolute;
  left: 0px;
  bottom: -8px;
  background-color: rgb(255, 129, 57);
  width: 56px;
  height: 2px;
  
}

.Product {
  margin-top: 500px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 3px;


}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 70px;

}

.heading1 {
  margin-top: 10px 0px;
  font-size: 14px;
  color: rgb(255, 129, 57);
  width: 84%;
  border-bottom: 0.8px solid rgb(255, 129, 57);
  padding: 5px 0px;
  margin-bottom: 20px;
  margin: 10px;

}

.p1 {
  width: 300px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.873);
  font-size: 15px;
  line-height: 22px;


}

.slider1 {
  flex: 33%;
  margin-right: 30px;
}

.slider2 {
  flex: 33%;
}

.slider3 {
  flex: 33%;
  margin-left: 30px;
}

/*CONTACT-FORM  START*/
.contact-form {
  background-color: rgb(54, 54, 54);
  width: 30%;
  height: 40vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 35%;
}
.heading-contact{
  font-size: 34px;
  margin-left: 45%;
  color: rgb(255, 129, 57);
  margin-bottom: 120px;
  position: relative;
  
}
.heading-contact::after{
  content: ' ';
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: rgb(255, 129, 57);
  width:56px;
  height: 2px;
}
.Contact{
  width: 100%;
  height: 400px;
  margin:40px;
  background-color: rgb(54, 54, 54);

 
}

.Contact input{
  border-radius: 5px;
  height: 30px;
  width: 180px;
  background-color: rgb(54, 54, 54);margin-left: 50px;

  color:white;
  border :1px solid white;
  padding: 10px;
}

.Contact textarea{

  background-color: rgb(54, 54, 54);
  width: 80%;
  height: 60%;
  color: white;
  padding: 10px;
  margin-left: 30px;
}


input:hover ,textarea:hover{
  background-color: white;
  color: black;
}

.btn1{
  margin-left: 120px;
  margin-top: 10px;
   
}
.contact-us{
  margin-top: 200px;
}
/*footer section*/
 footer{
 
  margin: 0px 0px !important;
  height: 10vh;
  margin-top: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.para-footer{
  margin: 0px;
  

}